<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Đăng ký tài khoản</h2>
      </div>
      <div *ngIf="failMessage" class="alert alert-danger text-center">
        <p>{{failMessage}}</p>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-row m-b-55">
            <div class="name">Tên đăng nhập</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="text" formControlName="username">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
              Tên đăng nhập phải được điền
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched">
              Tên đăng nhập phải có nhiều hơn 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched">
              Tên đăng nhập phải có ít hơn 12 ký tự
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Mật khẩu</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="password" formControlName="password">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
              Mật khẩu phải được điền
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
              Mật khẩu phải có nhiều hơn 6 ký tự
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
              Mật khẩu phải có ít hơn 12 ký tự
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Nhập lại mật khẩu</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="password" formControlName="confirmPassword">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.value.password !== registerForm.value.confirmPassword">
              Mật khẩu nhập lại không khớp.
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Họ và tên</div>
            <div class="value">
              <div class="row row-space">
                <div class="col-4">
                  <div class="input-group-desc">
                    <input class="input--style-5" type="text" formControlName="lastName">
                    <label class="label--desc">Họ</label>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('lastName').hasError('required') && registerForm.get('lastName').touched">
                    Ô này phải được điền
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('lastName').hasError('minlength') && registerForm.get('lastName').touched">
                    Nhập ít nhất 2 ký tự
                  </div>
                </div>
                <div class="col-7">
                  <div class="input-group-desc">
                    <input class="input--style-5" type="text" formControlName="firstName">
                    <label class="label--desc">Tên</label>
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('firstName').hasError('required') && registerForm.get('firstName').touched">
                    Tên người dùng phải được điền
                  </div>
                  <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('firstName').hasError('minlength') && registerForm.get('firstName').touched">
                    Tên người dùng phải có ít nhất 2 kí tự
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Giới tính</div>
            <div class="value">
              <div class="form-row p-t-20">
                <div class="p-t-15">
                  <label class="radio-container m-r-55">Nam
                    <input type="radio" checked="checked" formControlName="gender" value="Nam">
                    <span class="checkmark"></span>
                  </label>
                  <label class="radio-container">Nữ
                    <input type="radio" formControlName="gender" value="Nữ">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('gender').hasError('required') && registerForm.get('gender').touched">
                Chọn giới tính
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Email</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="email" formControlName="email">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
              Email phải được điền
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched">
              Không đúng định dạng email
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Điện thoại</div>
            <div class="value">
              <div class="input-group-desc">
                <input class="input--style-5" type="text" formControlName="phoneNumber">
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="registerForm.get('phoneNumber').hasError('required') && registerForm.get('phoneNumber').touched">
              Số điện thoại phải được điền
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn--radius-2 btn--red" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
