<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
  <div class="wrapper wrapper--w790">
    <div class="card card-5">
      <div class="card-heading">
        <h2 class="title">Đăng ký tài khoản</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="form-row m-b-55">
            <div class="name">Tên đăng nhập</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="text" formControlName="username">
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Mật khẩu</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="password" formControlName="password">
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Họ và tên</div>
            <div class="value">
              <div class="row row-space">
                <div class="col-4">
                  <div class="input-group-desc">
                    <input class="input--style-5" type="text" formControlName="lastName">
                    <label class="label--desc">Họ</label>
                  </div>
                </div>
                <div class="col-7">
                  <div class="input-group-desc">
                    <input class="input--style-5" type="text" formControlName="firstName">
                    <label class="label--desc">Tên</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="name">Giới tính</div>
            <div class="value">
              <div class="form-row p-t-20">
                <div class="p-t-15">
                  <label class="radio-container m-r-55">Nam
                    <input type="radio" checked="checked" formControlName="gender" value="Nam">
                    <span class="checkmark"></span>
                  </label>
                  <label class="radio-container">Nữ
                    <input type="radio" formControlName="gender" value="Nữ">
                    <span class="checkmark"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Email</div>
            <div class="value">
              <div class="input-group">
                <input class="input--style-5" type="email" formControlName="email">
              </div>
            </div>
          </div>
          <div class="form-row m-b-55">
            <div class="name">Điện thoại</div>
            <div class="value">
              <div class="input-group-desc">
                <input class="input--style-5" type="text" formControlName="phoneNumber">
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn--radius-2 btn--red" type="submit">Đăng ký</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
